@-webkit-keyframes animate {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes animate {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.animate {
    -webkit-animation-name: animate;
    animation-name: animate;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1s;
    animation-fill-mode: both;

    @media (prefers-reduced-motion) {
		-webkit-animation: unset!important;
		-webkit-transition: none!important;
		animation: unset!important;
		transition: none!important;
	}
}