// base colors
$black:    		#000000 !default;
$lochmara: 		#0077C8 !default;
$mine-shaft: 	#222222 !default;
$boulder: 		#767676 !default;

// approved web colors
$blue-lagoon:  	#007681 !default; 
$downy:        	#6FC9C4 !default;
$eastern-blue: 	#25A5B0 !default;
$midnight:     	#00233C !default;
$ming:         	#39607A !default;
$monte-carlo:  	#84C7D6 !default;
$ocean-green:  	#4AA270 !default;
$pine-glade:   	#ACD18C !default;
$sushi:        	#82C341 !default;
$walkama:	   	#666996 !default;