.bed-table {
	width: 100%;
	animation-delay: .2s;
	
	thead {


		th {
			border-bottom: none;
		}

		tr:nth-child(1) th {
			position: sticky;
			top: 109px;
		}

		tr:nth-child(2) th {
			position: sticky;
			top: 133px;
			background: $white;
			box-shadow: inset 0 0px 0 $black, inset 0 -1px 0 $grey-300;
		}
	}

	td, th {
		vertical-align: middle;
		border-top: none;
	}

	th {
		padding: .65rem;
	}

	td {
		padding: 1.25rem;
	}

	tbody tr:nth-of-type(odd) {
    	background-color: rgba(0,0,0,.03);
	}

	&__header {

		th {
			border: 0px solid $white;
			text-align: center;
			padding: 0px;
			pointer-events:none;
			background: $white;
		}
	}

	&__open {
		background: $lochmara !important;
		color: $white;
		padding: 8px;
	}

	&__hold {
		background: $monte-carlo !important;
		color: $white;
	}

	a {
		display: block;
		font-size: 18px;
		font-weight: 700;
		color: $lochmara;
		text-decoration: none;

		&:hover {
			color: $black;
			text-decoration: underline;
		}
	}

	.bed {

		&__program {
			display: block;
			font-weight: 700;
		}

		&__bed-type {
			display: block;
			font-weight: 700;
		}

		&_description {
			display: block;
			font-size: 12px;
			margin: 5px 0 15px 0;
		}

		&__contact-email {
			display: block;

			a {
				color: $lochmara;

				&:hover {
					color: $black;
					text-decoration: underline;
				}
			}
		}
	}

	@media (max-width: 991px) {
        display: none;
    }
}

table {
    border-collapse: collapse;
}

