.rrh-footer {
	background: $white;
	margin-top: 60px;
	padding: 30px 0;
	opacity: 0;
	bottom: 0px;
	animation-delay: 1s;
	border-top: 1px solid $grey-200;

	&__wrapper {
		max-width: 1350px;
		margin: auto;
		width: 100%;
		padding: 0px 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 48.4375em) {
			display: block;
		}

	}

	&__logo {
		max-width: 250px;
		width: auto;
		margin-right: 0px;
		margin-bottom: 0px;

		@media (max-width: 48.4375em) {
			width: 100%;
			align-self: center;
			margin: auto;
			text-align: center;
			margin-bottom: 10px !important;
		}

		.logo-rrh {
			width: 100%;
			max-width: 165px;
			padding-right: 15px;

			@media (max-width: 48.4375em) {
				width: 140px;
			}
		}

		.logo-partner {
			max-height: 40px;
			padding-left: 15px;
			border-left: 1px solid $grey-300;
			filter: grayscale(100%) opacity(.5);
		}
	}

	&__links {
		list-style-type: none;
		padding: 0px;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		position: relative;
		margin-top: 0;
		margin-bottom: 0;

		@media (max-width: 68.75em) {
			padding-top: 24px;
		}

		@media (max-width: 48.4375em) {
			max-width: 450px;
		    margin: auto;
		    justify-content: space-between;
		    padding-top: 0;
		    padding-bottom: 30px;
		}

		@media (max-width: 31.25em) {
			display: block;
		    text-align: center;
		    padding-bottom: 25px;
		    line-height: 1.5;
		}

		li {
			display: inline-block;
			padding: 0px 15px;
			font-size: 13px;
			font-weight: normal;
			color: #a5a5a5;
			font-family: "Montserrat",Helvetica,Arial,Lucida,sans-serif;

			&:before {
				content: "|";
				display: inline-block;
				position: relative;
				color: #ececec;
				left: -15px;

				@media (max-width: 52.8125em) {
					left: -10px;
				}

				@media (max-width: 48.4375em) {
					left: -7px;
				}
			}

			@media (max-width: 52.8125em) {
				padding: 0 10px;
				font-size: 12px;
			}

			@media (max-width: 48.4375em) {
				padding: 0;
    			font-size: 12px;
			}

			@media (max-width: 31.25em) {
				padding: 0 5px;
			}
		}


		li:first-of-type {
			padding-left: 0px;

			&:before {
				content: "";
			}

			@media (max-width: 68.75em) {
				position: absolute;
			    top: 0px;
			    right: 0px;
			    padding-right: 0px;
			}

			@media (max-width: 48.4375em) {
				top: auto;
			    bottom: 0px;
			    width: 100%;
			    text-align: center;
			}

		}

		li:last-of-type {
			padding-right: 0px;
		}

		li:nth-of-type(2) {
			&:before {
				@media (max-width: 68.75em) {
					content: "";
				}
			}
		}

		a {
			text-decoration: none;
			transition: none;
			color: $midnight;

			&:hover {
				opacity: 1;

				&:after {
					width: 100%;
				}
			}

			&:after {
				content: "";
    			display: block;
    			width: 0;
    			height: 1px;
    			margin-top: 0px;
    			margin-left: 2px;
    			background: #003a64;
    			transition: width 0.3s;
			}
		}
	}
}
